<?xml version="1.0" encoding="utf-8"?>
<CodeSnippets xmlns="http://schemas.microsoft.com/VisualStudio/2005/CodeSnippet">
  <CodeSnippet Format="1.0.0">
    <Header>
      <Title>li</Title>
      <Author />
      <Description>LogMagic - info statement</Description>
      <HelpUrl />
      <Shortcut>li</Shortcut>
    </Header>
    <Snippet>
      <Code Language="csharp" Kind="" Delimiter="$"><![CDATA[_log.I("$end$");]]></Code>
    </Snippet>
  </CodeSnippet>
</CodeSnippets>